$white: #fff;
$dark: #313131;
$black: #202020;
$green: #1db954;
$btn-hover: #1d753c;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 4px;
$mobile: 650px;
$tab: 800px;

@mixin flex-layout($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    };
};

@mixin tab {
    @media (max-width: $tab) {
        @content;
    };
};